@page

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" title="Default" />

@{
    <div class="container">
        <div class="jumbotron">
            <h1>#BOSCC</h1>
        </div>

        <div class="row">
            <div class="col-md-3">
                Lorem
            </div>
            <div class="col-md-3">
                ipsum
            </div>
            <div class="col-md-3">
                dolor
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Lorem
            </div>
            <div class="col-md-3">
                ipsum
            </div>
            <div class="col-md-3">
                dolor
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Lorem
            </div>
            <div class="col-md-3">
                ipsum
            </div>
            <div class="col-md-3">
                dolor
            </div>
        </div>
    </div>
}
